@keyframes refreshMsg {
    0% { left: 100%; }

    100% {left: 0%; }
    
    
}

body{
    font-family: Roboto;
    font-style: normal;

    display: flex;
    
    background-color: #FFFFFF;

    
}
.tela-login.disabled{
    display: none;
}
.tela-login{
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    background-color: #FFFFFF;
}

.tela-login input{
    display: flex;
    text-align: center;
    font-size: 18px;
    width: 250px;
    height: 35px;
    padding: 10px 0px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    margin-top: 95px ;
    outline: none;

}
.tela-login button{
    background-color: rgba(221, 221, 221, 0.726);
    border: none;
    padding: 5px;
    color: #696969;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 25px;
    width: 100px;
    height: 35px;
}
.sidbar.disabled{
    display: none;
}

.sidbar{
    z-index: 999;
    
    display: flex;
   
    position:fixed;
    
    width: 100%;
    height: 100%;
}
.sid-outside{
    background-color: rgba(61, 61, 61, 0.8);
    
    width: 30%;
    height: 100%;
    display: flex;
   
}

.sid-options{
    
   
   
    

    color: #000000;
 
    width: 70%;
    height: 100%;
    background-color: white;
}

.sid-options p{
    
    font-weight: bold;
    font-size: 17px;
    
    display: flex;
    text-align: center;
    
    height: 35px;
  
    padding: 15px 22px;
    
    
   
   

}


section{
    
   
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow: scroll;  
}
section button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
    background-color: inherit;
    outline: none;
    border: none;

}
.topo{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center ;
    padding: 15px 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
}

.topo img{
    height: 53px;
    padding-left: 30px;
}
.topo ion-icon{


}

main{
    margin-top: 90px;
    margin-bottom: 90px;
    width: 100%;
    height: 100%;
    background-color: #F3F3F3; 
    overflow-x: hidden;
}
main p {
    margin: 6px 0px;
    display: flex;
    width: 100%;
    
    
}
p span{
    padding: 0px 4px;
}
.hora{
    color: #696969;
}
.nome{
    font-weight: bold;
}

.status{
    background-color: #DCDCDC;
}

.reservadamente{
    background-color: #FFDEDE;
}

.comum{
    background-color: #FFFFFF;
}


.msg{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    

}

.footer{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    bottom: 0;
}

.icon{
    width: 26px;
    height: 26px;
   
    padding-right: 30px;
}


.send-msg{
    text-decoration: none;
    outline: none;
    border: none;
    width: 85%;
    height: 30px;
    padding-left: 30px;
}


